[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/tmp/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
symbolic-links=0
slow_query_log=1
slow-query-log-file=/var/lib/mysql/mysql-slow.log
max_allowed_packet=128M
wait_timeout=28800
interactive_timeout=28800
lower_case_table_names=1
group_concat_max_len=1024000
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/tmp/mysql.sock

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/